body {
  background: radial-gradient(at right top, #3a76d6, #63d9c8);
  height: 100vh;
  font-family: "Dosis", sans-serif;
  background-attachment: fixed;

  header {
    display: flex;
    justify-content: center;
    box-shadow: 0px 4px 14px;
    align-items: center;
    background-color: #2c6d67;
    height: 70px;

    h1 {
      font-size: 40px;
      color: white;
      font-weight: bolder;
      position: relative;
      left: -40px;
    }
  }
  .header_logo {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: relative;
    left: -60px;
  }
  main {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .weather {
      box-shadow: 0px 0px 16px 0px;
      margin-top: 40px;
      margin-bottom: 10px;
      background-image: linear-gradient(
        to right bottom,
        #00879367,
        #00bf7365,
        #a6eb1265
      );
      width: 600px;
      height: 375px;
      display: flex;

      border-radius: 5px;
      &_current {
        border-radius: 5px;
        box-shadow: 9px 0px 20px -5px #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.185);
        color: white;

        &_img {
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          margin-top: 0px;
          width: 300px;
          height: 150px;
          object-fit: cover;
        }
        .icon {
          position: relative;
          left: +50px;
        }
        h2 {
          margin-top: 10px;
          font-size: 25px;
        }
        .temperature {
          margin: 5px;
          font-size: 20px;
          position: relative;
          left: -50px;
          top: -45px;
        }
        .description {
          margin: 5px;
        }
        .wind {
          margin: 5px;
        }
      }
      &_forecast {
        margin-left: 15px;
        margin-top: -10px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 380px;
        justify-content: center;
        &_day {
          margin-left: 15px;
          margin-top: 10px;
          padding: 5px;
          background-color: rgba(240, 248, 255, 0.548);
          display: flex;
          flex-direction: column;
          align-items: center;
          border-radius: 5px;
        }
      }
    }
  }
}
