body {
  background: radial-gradient(at right top, #3a76d6, #63d9c8);
  height: 100vh;

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main {
    display: flex;
    justify-content: space-evenly;
    .weather {
      background-color: rgba(179, 194, 207, 0.315);

      display: flex;

      border-radius: 5px;
      &_current {
        margin-top: 10px;
        margin-bottom: 10px;

        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
          font-size: 25px;
        }
        .temperature {
          margin: 5px;
          font-size: 20px;
        }
        .description {
          margin: 5px;
        }
        .wind {
          margin: 5px;
        }
      }
      &_forecast_day {
        margin-top: 10px;

        display: flex;
        flex-direction: column;
        align-items: center;

        &:last-child {
          margin-bottom: 10px;
        }
      }
    }
  }
}
